@model Car
<ol>
    @foreach (var item in Model.ServiceItems)
    {
        <li>
            <p><strong>@Html.DisplayFor(modelItem => item.Name)</strong> </p>
            <p><strong>Description: </strong>@Html.DisplayFor(modelItem => item.Description)</p>
            <p><strong>Last service: </strong>@Html.DisplayFor(modelItem => item.LastService)</p>
            <div>
                <p>
                    <strong>Change every: </strong>@Html.DisplayFor(modelItem => item.KmInterval)km or
                    @Html.DisplayFor(modelItem => item.TimeIntervalYears) years.
                </p>
            </div>
        </li>
    }
</ol>