@model Car
@{
    ViewBag.Title = "Details";
}

<header>
    <h1>Details</h1>
    <section>
        <a href='@Url.Action("Index", "Cars")'>Home</a>
    </section>
    <a asp-controller="Cars"
       asp-action="AddItem"
       asp-route-id=@Model.Id>
        Add new service item
    </a>
</header>
<main>
    <section>
        <h2>Car information</h2>

        <ul>
            <li>
                <p>@Model.Brand</p>
                <p>@Model.Model</p>
                <p>@Model.Year</p>
                <p>@Model.EngineType</p>
            </li>
        </ul>
    </section>

    <section>

        <h2>Service interval information</h2>

        <ol>
            @foreach (var item in Model.ServiceItems)
            {
                <li>
                    <p><strong>@Html.DisplayFor(modelItem => item.Name)</strong> </p>
                    <p><strong>Description: </strong>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p><strong>Last service: </strong>@Html.DisplayFor(modelItem => item.LastService)</p>
                    <div>
                        <p>
                            <strong>Change every: </strong>@Html.DisplayFor(modelItem => item.KmInterval)km or
                            @Html.DisplayFor(modelItem => item.TimeIntervalYears) years.
                        </p>
                    </div>
                </li>
            }
        </ol>

    </section>

</main>

