@model Car
@{
    ViewBag.Title = "Details";
}

<header>
    <h1>Details</h1>
    <section>
        <a href='@Url.Action("Index", "Cars")'>Home</a>
    </section>
    <a asp-controller="Cars"
       asp-action="AddItem"
       asp-route-id=@Model.Id>
        Add new service item
    </a>
</header>
<main>
    <section>
        <h2>Car information</h2>

        <ul>
            <li>
                <p>@Model.Brand</p>
                <p>@Model.Model</p>
                <p>@Model.Year</p>
                <p>@Model.EngineType</p>
            </li>
        </ul>
    </section>

    <section>

        <h2>Service interval information</h2>

        <partial name="_ServiceItemsList" />

    </section>

</main>

